{% extends 'usersite/master.html' %}
{% load static %}
{% block 'edi' %}

<div class="edi">
    <div class="hhh">
        <div class="add">
            <a class="addproduct" href="{% url 'productspage' %}">Add product</a>
        </div>
        <p>Search Results Products</p>
    </div>
    <div class="aaa">
        <div class="ma">
            <form method="GET" action="{% url 'searchpage' %}">
                <div class="search">
                    <label for="search">Search:</label>
                </div>
                <div class="seain">
                    <input type="search" id="query" name="q" >
                </div>
            </form>
        </div>
        <div class="th">
            <label for="#" class="f"># <i class="fa fa-caret-up"></i></label>
            <label for="product" class="pname">Product Name</label>
            <label for="status" class="sta">
                <span class="fa fa-stack">
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                </span>Status
            </label>
            <label for="actions" class="actions">
                <span class="fa fa-stack">
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                </span>Actions
            </label>
        </div> 
        <div class="tr">
            {% for x in sel %}
           <label class="pdata"> 
           <label class="apid">{{ x.id }}</label>
            <label class="apname">{{ x.product_name }}</label>
            <label class="apsname">{{ x.Product_status }}</label> 
                <label class="aedt">
                    <a id="ae" href="{% url 'editproductspage' x.id %}">Edit</a>|
                    <a  id="ad" href="{% url 'deleteproducts' x.id %}">Delete</a>
                </label>
            </label>
            {% endfor %}
            
            
        </div>
        <hr>
        <div class="showing">
            
    </div>
</form>
    <div class="fff">
        <p>&copy; 2022 vedansh</p>
    </div>
</div>
{% endblock %}
{% block 'title' %}
    Products
{% endblock %}
{% block 'link' %}
    rel="stylesheet" href="{% static 'css/stylemanagepag.css' %}"
{% endblock %}